{% extends 'login/base.html' %}
    {% block body %}
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">REGISTER</h3>
            <div class="card-text">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-info">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                <!--
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form method="POST">
                    {% csrf_token %}
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">USERNAME</label>
                        <input type="name" name="username" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control form-control-sm" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control form-control-sm" placeholder="minimum 8characters" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    
                    <div class="sign-up">
                     <strong>have an account?</strong><a href="{% url 'login' %}">LOGIN</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    
    
    {% endblock %}