{% extends 'login/base.html' %}
    {% block body %}
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <p class="card-title text-center"><strong>YOUR EMAIL IS <strong>VERIFIED'</strong></strong></p>
            <div class="card-text">
                <div class="text-center">
                    <a class="btn btn-primary" href="{% url 'login' %}">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    
    {% endblock %}